body {
  font-family: helvetica, sans-serif;
}

header {
  background-color: darkslategrey;
}

h1 {
  font-size: 35px;
  font-weight: bold;
  color: white;
  margin-left: 30px;
  padding: 20px;
}

#login {
  background-color: limegreen;
  color: white;
  float: right;
  padding: 30px;
  width: 30px;
  height: 15px;
}

nav {
  background-color: darkslateblue;
}

ul {
  list-style-type: none;
  margin: 1px;
  padding: 20px;
  text-align: center;
}

li {
  display: inline;
  color: white;
  margin-left: 120px;
  margin-right: 120px;
}

#museum {
  background-image: url("../images/1.jpg");
  height: 600px;
  background-size: 1450px 725px;
  background-position: bottom;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-left: 20px;
  padding: 30px;
}

#museumtext {
  background-color: darkslategrey;
}

p {
  color: white;
  margin-left: 30px;
  padding: 20px;
}

h3 {
  font-size: 25px;
  font-weight: bold;
}

.gallery article {
  margin-left: 25px;
  padding: 25px;
  float: left;
}

.gallery img {
  width: 400px;
  height: 200px;
}

footer {
  background-color: darkslategrey;
}
